__pycache__/
*.py[cod]
*$py.class
*.so

venv/
env/
ENV/
.venv/

.env
.env.*

*.log
*.tmp
*.temp

uploads/
app/temp/

.vscode/
.idea/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
models/
*.pt
*.pth
*.onnx
*.tflite
*.bin
*.ckpt

.cache/
huggingface/

# Cambios de la rama main principal
contexto_guardian_ai_v2.md
Audios Whatsapp

# 💾 Capa de Persistencia Forense (Tu apartado)
callshield.db